<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439989663804-uhann6buh872es6oj27eai5dmpk5gcel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439989663804-uhann6buh872es6oj27eai5dmpk5gcel</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>439989663804-jdrtp6akgj8j9cqvmu6mh7ns67b1bgoc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5daHXFud0MKEM9UW33rOFDrFdddd6PAY</string>
	<key>GCM_SENDER_ID</key>
	<string>439989663804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frdynurm.knowledgewidya</string>
	<key>PROJECT_ID</key>
	<string>knowledge-frdynurm</string>
	<key>STORAGE_BUCKET</key>
	<string>knowledge-frdynurm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439989663804:ios:9e1c74aa4c0190282e2b39</string>
</dict>
</plist>